/*
TODO make this pretty
*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background: black;
  color: hsl(170, 100%, 86%);
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: inherit;
  font-weight: normal;
}

ul,
ol {
  padding: 0 0 0 1.2em;
}

label {
  display: block;
}

button {
  cursor: 'pointer';
}
input,
textarea {
  padding: 4px 6px;
  font-family: inherit;
  background: transparent;
  border: 1px solid rgb(38, 102, 105);
  color: inherit;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #888;
  background: #333;
}

a:link {
  color: hsl(150, 60%, 60%);
}
a:visited {
  color: hsl(150, 60%, 50%);
}


*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,#2c9a92,#10626d);
  border-radius: 30px;
  box-shadow: inset 0px 1px 1px hsla(0,0%,100%,.25), inset -1px -1px 1px rgba(0,0,0,.25);
}