/*
TODO make this pretty
*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background: black;
  color: hsl(170, 100%, 86%);
}

body,
html {
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: inherit;
  font-weight: normal;
  margin: 0;
}

ul,
ol {
  padding: 0 0 0 1.2em;
}

label {
  display: block;
}

button {
  outline: none;
  border: 2px solid;
  border-color: #92d2d0;
  background: transparent;
  color: #92d2d0;
  padding: 4px 6px;
  font-family: inherit;
  cursor: pointer;
}
button:hover,
button:focus {
  outline: none;
  background-color: #92d2d0;
  color: #201c29;
}
button:disabled {
  cursor: not-allowed;
  color: #9daead;
  border-color: #9daead;
}
button.dangerous {
  color: hsl(0, 60%, 50%);
  border-color: hsl(0, 60%, 50%);
  text-transform: uppercase;
}
button.dangerous:hover,
button.dangerous:focus {
  background-color: hsl(0, 60%, 50%);
  color: #201c29;
}
input,
textarea {
  padding: 4px 6px;
  font-family: inherit;
  background: transparent;
  border: 1px solid rgb(38, 102, 105);
  color: inherit;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #92d2d0;
  background: #204c4e;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: hsl(170deg 21% 51%);
}

a {
  color: hsl(150, 60%, 60%);
}
a:visited {
  color: hsl(150, 60%, 50%);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, hsl(191deg 50% 5%) 0, hsl(191deg 50% 5%));
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2c9a92, #10626d);
  box-shadow: inset 0px 1px 1px hsla(0, 0%, 100%, 0.25), inset -1px -1px 1px rgba(0, 0, 0, 0.25);
}
