[title]:not([title='']) {
  cursor: help;
  text-decoration: var(--fc) dashed underline;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ff);
  line-height: 1.4;
  font-weight: 300;
  background: black;
  color: hsl(170, 100%, 86%);
}

body,
html {
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: inherit;
  font-weight: normal;
  margin: 0;
}

ul,
ol {
  padding: 0 0 0 1.2em;
}

label {
  display: block;
}

button {
  outline: none;
  border: 1px solid;
  border-color: var(--bc-button);
  background: var(--bg-button);
  color: var(--fc-button);
  padding: 4px 6px;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  outline: 1px solid var(--bc-focus);
}
button:hover {
  background: var(--bg-button-hover);
  border-color: var(--bc-button-hover);
  color: var(--fc-button-hover);
}
button:disabled {
  cursor: not-allowed;
  color: #9daead;
}
button.dangerous {
  color: hsl(0, 60%, 50%);
  border-color: hsl(0, 60%, 50%);
  text-transform: uppercase;
}
button.dangerous:hover,
button.dangerous:focus {
  background: hsl(0, 60%, 50%);
  color: #201c29;
}
input,
textarea,
select {
  padding: 4px 6px;
  font-family: inherit;
  background: transparent;
  border: 1px solid var(--bc-deem);
  color: inherit;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--border-color);
  background: var(--bg-input-focus);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--fc-deem);
}

input:invalid,
textarea:invalid {
  border-color: hsl(0, 83%, 65%);
}

select {
  background: transparent;
  color: inherit;
  border: 1px solid var(--bc-deem);
  padding: 4px 6px;
}

a {
  color: var(--fc-link);
}
a:visited {
  color: var(--fc-link-visited);
}
a:hover {
  color: var(--fc-link-hover);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--bg-scrollbar-track);
}
*::-webkit-scrollbar-thumb {
  background: var(--bg-scrollbar);
  box-shadow: inset 0px 1px 1px hsla(0, 0%, 100%, 0.25), inset -1px -1px 1px rgba(0, 0, 0, 0.25);
}

.Future {
  --ff: 'Roboto Mono', monospace;
  --border-color: #92d2d0;
  --fc-button: var(--border-color);
  --bc-button: #084c4a;
  --bg-button: transparent;
  --bg-button-hover: var(--border-color);
  --bc-button-hover: var(--border-color);
  --bg-game: radial-gradient(hsl(170, 80%, 15%), hsl(200, 60%, 8%));
  --border-game: none;
  --fc: hsl(170, 100%, 86%);
  --fc-deem: hsl(170, 50%, 46%);
  --fc-button-hover: #201c29;
  --fc-link: hsl(150, 60%, 60%);
  --fc-link-visited: hsl(150, 60%, 50%);
  --fc-link-hover: hsl(150, 65%, 62%);
  --bg-scrollbar: linear-gradient(180deg, #2c9a92, #10626d);
  --bg-scrollbar-track: linear-gradient(90deg, #201c29, #201c29 1px, hsl(191deg 50% 5%) 0, hsl(191deg 50% 5%));
  --bg-log-meta: hsl(178deg 35% 55% / 11%);
  --br: 8px;
  --bg-dice: radial-gradient(#112d33 51%, hsl(174deg 40% 27%));
  --c-icon-button: #2b635e;
  --c-icon-button-hover: hsl(170, 80%, 90%);

  --bg-input-focus: #204c4e;
  --bc-deem: rgb(38, 102, 105);

  --bs-result-crit: 0 0 5px 0px #fff940;
  --bs-result-success: 0 0 5px 0px #49d08b;
  --bs-result-mixed: 0 0 5px 0px #ffa547;
  --bs-result-miss: 0 0 10px 0px hsl(0, 60%, 50%);
  --bs-result-critfail: 0 0 10px 0px hsl(0, 60%, 50%);
  --bg-result-crit: #fff940;
  --bg-result-success: #49d08b;
  --bg-result-mixed: #ffa547;
  --bg-result-miss: hsl(0, 60%, 50%);
  --bg-result-critfail: hsl(0, 60%, 50%);

  --bg-die-white: #92d2d0;
  --bg-die-yellow: hsl(31, 100%, 64%);
  --bg-die-red: hsl(0, 60%, 50%);
  --bg-die-green: hsl(149, 59%, 55%);
  --bg-die-purple: hsl(230, 65%, 64%);
  font-family: var(--ff);
}
.Future2 {
  --ff: 'Roboto Mono', monospace;
  --border-color: #5d58a0;

  --bc-focus: #d1773b;

  --fc-button: #bb9deb;
  --bg-button: transparent;
  --bc-button: #4f3a68;

  --fc-button-hover: #fff;
  --bg-button-hover: #4f34a7;
  --bc-button-hover: var(--bg-button-hover);

  --fc-button-selected: #fff;
  --bg-button-selected: #d1773b;
  --bc-button-selected: var(--bg-button-selected);

  --bg-game: radial-gradient(hsl(272, 46%, 17%), hsl(200, 60%, 8%));
  --border-game: none;
  --fc: hsl(267, 85%, 95%);
  --fc-deem: hsl(273, 39%, 58%);

  /* --fc-button: var(--border-color); */
  --fc-link: hsl(39, 60%, 60%);
  --fc-link-visited: hsl(34, 60%, 50%);
  --fc-link-hover: hsl(44, 65%, 62%);
  --bg-scrollbar: linear-gradient(180deg, #c39237, #83411b);
  --bg-scrollbar-track: linear-gradient(90deg, #363046, #201c29 1px, rgb(24, 13, 41) 0, rgb(16, 6, 19));
  --bg-log-meta: rgba(100, 128, 180, 0.11);
  --br: 8px;
  --bg-dice: radial-gradient(#111c33 51%, rgb(51, 41, 96));
  --c-icon-button: #63492b;
  --c-icon-button-hover: hsl(44, 65%, 62%);

  --bg-input-focus: #3d204e;
  --bc-deem: rgb(69, 38, 105);

  --bs-result-crit: 0 0 5px 0px #fff940;
  --bs-result-success: 0 0 5px 0px #49d08b;
  --bs-result-mixed: 0 0 5px 0px #ffa547;
  --bs-result-miss: 0 0 10px 0px hsl(352deg 68% 41%);
  --bs-result-critfail: 0 0 10px 0px hsl(352deg 68% 41%);
  --bg-result-crit: #fff940;
  --bg-result-success: #49d075;
  --bg-result-mixed: #ffa547;
  --bg-result-miss: hsl(352deg 68% 41%);
  --bg-result-critfail: hsl(352deg 68% 41%);

  --bg-die-white: #d6cfe7;
  --bg-die-yellow: hsl(31, 100%, 64%);
  --bg-die-red: hsl(352deg 68% 41%);
  --bg-die-green: hsl(149, 59%, 55%);
  --bg-die-purple: hsl(230, 65%, 64%);
  font-family: var(--ff);
}
.Simple {
  --ff: 'Garamond', serif;
  --border-color: #000;
  --bc-button: #000;
  --bg-button: #000 url('/charcoal.png');
  --bg-game: #fff;
  --border-game: 2px solid var(--border-color);
  --fc: #000;
  --fc-deem: #999;
  --fc-button-hover: #fff;
  --fc-link: #444;
  --fc-link-visited: #666;
  --fc-link-hover: #888;
  --bg-scrollbar: #000 url('/charcoal.png');
  --bg-scrollbar-track: #eee;
  --bg-log-meta: transparent;
  --br: 0;
  --bg-dice: #bbb;
  --c-icon-button: #666;
  --c-icon-button-hover: var(--fc);

  --bc-deem: #666;

  --bs-result-crit: none;
  --bs-result-success: none;
  --bs-result-mixed: none;
  --bs-result-miss: none;
  --bs-result-critfail: none;
  --bg-result-crit: #fff940;
  --bg-result-success: #49d08b;
  --bg-result-mixed: #ffa547;
  --bg-result-miss: hsl(0, 60%, 50%);
  --bg-result-critfail: hsl(0, 60%, 50%);

  --bg-die-white: #fff;
  --bg-die-yellow: hsl(50deg 92% 52%);
  --bg-die-red: hsl(0deg 82% 57%);
  --bg-die-green: hsl(131deg 60% 41%);
  --bg-die-purple: hsl(221deg 95% 68%);
  font-family: var(--ff);
}
